{% load i18n %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% get_current_language as CURR_LANG %}
<!DOCTYPE html>
<html lang="{{ CURR_LANG }}">

<head>
    <title>{% block title %}{% endblock %} | TEDxNTUA 2020</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "images/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "images/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "images/favicon-16x16.png" %}">
    <link href="https://fonts.googleapis.com/css?family=Jura:300,400,500,700&display=swap&subset=greek" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=greek" rel="stylesheet">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% block image %}{% static 'images/dualism_logo_1024.png' %}{% endblock %}" />
    <meta property="og:site_name" content="TEDxNTUA 2020" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock %}">
    {% render_bundle "main" "css" %}
    <script type="text/javascript">
        var _paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u='//matomo.tedxntua.com/';
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
</head>

<body>

    <header id="header" class="dark">
        {% include "layouts/partials/nav.html" %}
    </header>

    <main id="main">
        {% block content %}{% endblock %}
    </main>

    <footer id="footer">
        {% include "layouts/partials/footer.html" %}
    </footer>

    {% render_bundle "main" "js" %}
    <div class="is-pjax">
        {% block scripts %}
        {% endblock %}
    </div>

</body>

</html>
