{% extends 'base.html' %} 
{% block title %}Feed{% endblock %}
{% block description %}This is the feed page{% endblock %}
{% block content %}
    <div class="container-1">
        <div class="layout-1">
            <div class="button-container">
                <button type="button" name="button">Notify</button>
                <button type="button" name="button">Filter</button>
            </div>
            <div class="feed-container">
                <div class="schedule">
                    <div id="coming" onclick="myListCollapse()">COMING UP</div>
                    <div class="schedule-list" id="myList">
                        <div class="event">
                            <div class="event-time">
                                <p id="start-time">09:45</p>
                            </div>
                            <div class="event-info">
                                <div class="event-thumbnail">
                                    <div class="square"></div>
                                </div>
                                <div class="event-title">
                                    <p>
                                        <b>Workshop | Kyma Project</b><br>
                                        Kinetic Improvisation Games bluh bluh bluh bluh bluh bluh bluh <br>
                                        (09:45-10:45)
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="event"></div>
                        <div class="event"></div>
                        <div class="event"></div>
                        <div class="event"></div>
                        <div class="event"></div>
                    </div>
                </div>
                <div class="announcements">
                    <div class="notification">
                        <div class="event-time">
                            <p id="start-time">2 min</p>
                        </div>
                        <div class="event-info">
                            <div class="event-thumbnail">
                                <div class="square"></div>
                            </div>
                            <div class="event-title">
                                <p>
                                    <b>Workshop | Kyma Project</b><br>
                                    Kinetic Improvisation Games bluh bluh bluh bluh bluh bluh bluh <br>
                                    (09:45-10:45)
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="notification"></div>
                    <div class="notification"></div>
                    <div class="notification"></div>
                    <div class="notification"></div>
                    <div class="notification"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function myListCollapse(){
            var x = document.getElementById("myList");
            var y = document.getElementById("coming");
            var w = parseInt(window.screen.width);
            if(w <= 575){
                if (x.style.display === "none") {
                    x.style.display = "block";
                    y.style.borderRadius = "0";
                } 
                else {
                    x.style.display = "none";
                    y.style.borderBottomLeftRadius = "1em";
                    y.style.borderBottomRightRadius = "1em";
                }
            }
        }
    </script>
{% endblock %}

