$scroll-snap-enabled: false;
$box-size: 16vmin;
$semicircle-size: 3em;

article.home-page {
    .tab-pane {
        padding: 0;
        a {
            margin-bottom: .5em;
        }
        .media {
            position: relative;
            width: 100%;
            padding-bottom: 100%;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        .info {
            margin-top: 1em;
            text-align: center;
            word-wrap: break-word;
        }
        h5 {
            font-size: 1.15em;
            line-height: 1;
            color: black;
        }
        p {
            line-height: 1.15;
        }
    }
    .nav-scrollable-tabs {
        a {
            display: inline;
            margin-right: .5em;
            font-size: 1.25em;
            &.active {
                color: black;
                @include underline();
            }
        }
    }
    .checkerboard-view {
        display: none;
    }
    .section-container > section {
        padding: 2rem 0;
        line-height: 1.5;
        &:first-child {
            padding-top: 0;
        }
    }
    header h2 {
        margin-bottom: .35em;
    }
    section#hero {
        margin-bottom: 3em;
        img {
            width: 100%;
            height: auto;
        }
        .content {
            margin-top: 2em;
            > p {
                font-size: 1.2em;
            }
            details {
                margin-bottom: 2em;
            }
        }
        .infobox {
            margin-bottom: 2em;
            font-family: $font-family-serif;
            font-size: 1.5em;
        }
        .date, .location {
            margin-top: 1.5em;
        }
        .date, .location h2 {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: space-between;
            line-height: 1;
        }
        .monthday {
            font-size: 1.325em;
            font-weight: bold;
        }
        .year {
            font-size: 3.45em;
            :nth-child(1) {
                color: $primary;
            }
            :nth-child(2) {
                color: $secondary;
            }
        }
        .location {
            position: relative;
            h2 {
                height: 100%;
                margin-bottom: 0;
                font-size: 1.35em;
                :nth-child(1) {
                    letter-spacing: .25em;
                    margin-right: -.25em;
                }
                :nth-child(2) {
                    letter-spacing: .49em;
                    margin-right: -.49em;
                }
            }
            &::before, &::after {
                content: "";
                position: absolute;
                top: 0;
                height: 3 * 1.35em;
                width: 1.5 * 1.35em;
            }
            &::before {
                left: 0;
                background: $primary;
                // Use a large value instead of changing it for @media
                border-radius: 5em 0 0 5em;
            }
            &::after {
                right: 0;
                background: $red;
                border-radius: 0 5em 5em 0;
            }
        }
    }
    section#lineup {
        .tab-content {
            font-size: .85rem;
        }
        .placeholder {
            align-self: flex-start;
            .media {
                padding-bottom: 0;
            }
            .media div {
                width: 100%;
                padding-bottom: 100%;
                opacity: .6;
                border: 1px solid #777;
            }
            .info {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    section#venue{
        .map{
            display: flex;
            flex-direction: column;
        }

        .location{
            display: flex;
            justify-content: center;
            flex-direction: column;
            background-color: $secondary;
            font-weight: lighter;
            text-align: center;
            padding: 1em;
        }

        .location h5{
            color: black;
            margin-bottom: 0.5em;
            font-size: 1.25em;
        }

        .location p{
            color: black;
            line-height: 1em;
            &:last-child {
                margin-bottom: 0;
            }
        }

        .accessible {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 1em;
                height: auto;
                margin-right: .25em;
            }
        }

        iframe{
            height: 16em;
            flex-grow: 1;
            border:3px solid $secondary;
        }
        .access {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h3, h4 {
                line-height: 1.5;
            }
        }
        .image-container {
            border: 3px solid $secondary;
            border-top-width: 0;
            margin-bottom: 2em;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    section#about {
        header h2 {
            margin-bottom: 1em;
        }
        .auspices {
            a {
                display: block;
                width: 18em;
                max-width: 60%;
                margin: 0 auto;
            }
            img {
                width: 100%;
                height: auto;
            }
            h5 {
                text-align: center;
                margin: 1em 0 .5em;
            }
        }
        .content {
            h3 {
                margin: 1em 0 .5em;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    article.home-page {
        section#hero {
            .infobox {
                // Make semicircles relative to infobox now (step 1)
                position: relative;
                display: flex;
                justify-content: space-between;
            }
            .location {
                // (step 2)
                position: static;
                padding-right: (4.775em + 1.5em);
                &::before, &::after {
                    top: auto;
                    bottom: 0;
                    height: 4.775em; // height of .monthday + .year
                    width: (4.775em / 2);
                }
                &::before {
                    left: auto;
                    right: (4.775em / 2) + .5em;
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    @if $scroll-snap-enabled {
        html {
            scroll-snap-type: y proximity;
        }
        nav#nav {
            scroll-snap-align: start;
        }
    }
    article.home-page {
        header {
            position: fixed;
            left: 0;
            bottom: calc(-100% - #{$box-size});
            height: $box-size;
            font-size: $box-size / 8;
            transition: bottom .5s ease-in-out;
            &::before {
                content: "";
                position: fixed;
                left: 0;
                bottom: calc(-100% - #{$box-size});
                width: $box-size;
                height: $box-size;
                background: $primary;
                transition: bottom .5s ease-in-out;
            }
            &.show, &.show::before {
                bottom: 0;
            }
            h2 {
                position: relative;
                z-index: 10;
                padding: calc(#{$box-size / 2} - .5em) 1rem;
                padding-left: $page-padding-x-lg;
                background: black;
                background: linear-gradient(90deg, black 0%, black $box-size,
                                $primary $box-size);
                -webkit-background-clip: text;
                background-clip: text;
                color: white;
                -webkit-text-fill-color: transparent;
                font-size: 5em;
                font-style: italic;
                font-weight: 300;
                line-height: 1;
            }
        }
        .nav-scrollable-tabs {
            position: fixed;
            left: 0;
            bottom: -100%;
            display: flex;
            flex-flow: column nowrap;
            margin: 0;
            padding-left: $page-padding-x-lg;
            font-size: $box-size / 8;
            line-height: 1;
            transition: bottom .5s ease-in-out;
            &.show {
                bottom: calc(#{$box-size} + 4vh);
            }
            .nav-item {
                margin: 1em 0;
            }
            a {
                font-size: 2em;
                margin-right: 0;
            }
        }
        .simple-view {
            display: none;
        }
        .checkerboard-view {
            display: grid;
            a {
                position: relative;
                max-width: 100%;
                margin-bottom: 0;
                padding-bottom: 100%;
            }
            .media {
                position: absolute;
                top: 0;
                left: 0;
            }
            .image {
                transition: transform .1s ease-in-out;
            }
            .info {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                margin-top: .5em;
                padding: 0 .5em;
                transition: top .1s ease-in-out;
            }
            a:hover {
                .image {
                    transform: scale(1.05);
                }
                .info {
                    top: 102.5%;
                }
            }
        }
        .section-container {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            min-height: 80vh;
            > section {
                @if $scroll-snap-enabled {
                    scroll-snap-align: start;
                    padding-top: $page-padding-y-lg;
                } @else {
                    padding-top: 4rem;
                }
                padding-bottom: $box-size;
                font-size: 1.25rem;
            }
        }
        section#hero {
            display: flex;
            margin-bottom: 0;
            .image-container {
                width: 40vw;
                max-width: 80vh;
                flex-shrink: 0;
                div {
                    position: relative;
                    width: 100%;
                    padding-bottom: 100%;
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
            .content {
                align-self: center;
                margin-left: 2em;
                margin-top: 0;
                a.btn {
                    padding: .75rem 1.5rem;
                    font-size: 1.5rem;
                }
            }
            .infobox {
                font-size: 1em;
            }
        }
        section#lineup {
            .tab-content {
                width: 80%;
                margin-left: auto;
            }
        }
        section#venue {
            .map {
                height: 12em;
                flex-direction: row;
                font-size: 1.5rem;
            }
            .location {
                width: 12em;
            }
            iframe {
                height: auto;
            }
            .access {
                flex-direction: row;
                margin-top: 4em;
            }
            .left {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                width: 40vw;
                max-width: 80vh;
            }
            .image-container {
                width: 100%;
                height: 100%;
                margin-bottom: 0;
                border-top-width: 3px;
                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
            .content {
                flex-grow: 1;
                align-self: center;
                margin-left: 2em;
            }
        }
        section#about {
            display: flex;
            .auspices {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                width: 40vw;
                max-width: 80vh;
            }
            .content {
                margin-left: 2em;
                h3:first-child {
                    margin-top: 0;
                }
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    article.home-page {
        .checkerboard-view {
            font-size: 1rem;
        }
    }
}

@include media-breakpoint-up(xxl) {
    article.home-page {
        section#hero, section#venue, section#about {
            .content {
                margin-left: 3em;
            }
        }
        section#hero {
            .content > p {
                font-size: 1.5em;
            }
            .infobox {
                font-size: 1.25em;
            }
        }
        section#venue {
            .map {
                height: 16em;
            }
            .location {
                width: 16em;
            }
        }
    }
}
