$box-size: 16vmin;

article.home-page {
    .tab-pane {
        a {
            margin-bottom: .5em;
        }
        .media {
            position: relative;
            width: 100%;
            padding-bottom: 100%;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        .info {
            margin-top: 1em;
            text-align: center;
            word-wrap: break-word;
        }
        h5 {
            font-size: 1.15em;
            line-height: 1;
            color: black;
        }
        p {
            line-height: 1.15;
        }
    }
    .nav-scrollable-tabs {
        margin-top: .5em;
        a {
            display: inline;
            margin-right: .5em;
            font-size: 1.25em;
            &.active {
                color: black;
                @include underline(0, .2em);
            }
        }
    }
    .checkerboard-view {
        display: none;
    }
    > section {
        min-height: 100vh;
        margin-bottom: 4rem;
    }
    section#lineup .tab-content {
        font-size: .85rem;
    }
    section#venue{
        .map{
            display: flex;
            height: 12em;
        }

        .location{
            display: flex;
            justify-content: center;
            flex-direction: column;
            background-color: $secondary;
            font-weight: lighter;
            width: 12em;
            text-align: center;
            padding: 1em;
        }

        .location h5{
            color: black;
            margin-bottom: 0.5em;
        }

        .location p{
            color: black;
            line-height: 1em;
            &:last-child {
                margin-bottom: 0;
            }
        }

        iframe{
            flex-grow: 1;
            border:3px solid $secondary;
        }
    }
}

@include media-breakpoint-up(lg) {
    article.home-page {
        header {
            position: fixed;
            left: 0;
            bottom: calc(-100% - #{$box-size});
            height: $box-size;
            font-size: $box-size / 8;
            transition: bottom .5s ease-in-out;
            &::before {
                content: "";
                position: fixed;
                left: 0;
                bottom: calc(-100% - #{$box-size});
                width: $box-size;
                height: $box-size;
                background: $primary;
                transition: bottom .5s ease-in-out;
            }
            &.show, &.show::before {
                bottom: 0;
            }
            h2 {
                position: relative;
                z-index: 10;
                padding: calc(#{$box-size / 2} - .5em) 1rem;
                padding-left: $page-padding-x-lg;
                background: black;
                background: linear-gradient(90deg, black 0%, black $box-size,
                                $primary $box-size);
                -webkit-background-clip: text;
                background-clip: text;
                color: white;
                -webkit-text-fill-color: transparent;
                font-size: 5em;
                font-style: italic;
                font-weight: 300;
                line-height: 1;
            }
        }
        .nav-scrollable-tabs {
            position: fixed;
            left: 0;
            bottom: -100%;
            display: flex;
            flex-flow: column nowrap;
            margin: 0;
            padding-left: $page-padding-x-lg;
            font-size: $box-size / 8;
            transition: bottom .5s ease-in-out;
            &.show {
                bottom: calc(#{$box-size} + 4vh);
            }
            .nav-item {
                margin: 1em 0;
            }
            a {
                font-size: 2em;
                margin-right: 0;
            }
        }
        .tab-content {
            width: 80%;
            margin-left: auto;
        }
        .tab-pane {
            padding: 0;
        }
        .simple-view {
            display: none;
        }
        .checkerboard-view {
            display: grid;
            a {
                position: relative;
                max-width: 100%;
                margin-bottom: 0;
                padding-bottom: 100%;
            }
            .media {
                position: absolute;
                top: 0;
                left: 0;
            }
            img {
                transition: transform .1s ease-in-out;
            }
            .info {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                margin-top: .5em;
                padding: 0 .5em;
                transition: top .1s ease-in-out;
            }
            a:hover {
                img {
                    transform: scale(1.05);
                }
                .info {
                    top: 102.5%;
                }
            }
        }
        section#lineup .tab-content {
            margin-bottom: 16%; // 20% * 80%
        }
    }
}

@include media-breakpoint-up(xl) {
    article.home-page {
        .checkerboard-view {
            font-size: 1rem;
        }
    }
}
