.home-page{
    section#venue{ 
        .map{
            display: flex;
            height: 12em;
        }

        .location{
            display: flex;
            justify-content: center;
            flex-direction: column;
            background-color: $secondary;
            font-weight: lighter;
            width: 12em;
            text-align: center;
            padding: 1em;
        }

        .location h5{
            color: black;
            margin-bottom: 0.5em;
        }

        .location p{
            color: black;
            line-height: 1em;
            &:last-child {
                margin-bottom: 0;
            }
        }

        iframe{
            flex-grow: 1;
            border:3px solid $secondary;
        }
    }
}