/* GLOBALS */

html, body {
	height: 100%;
	width: 100%;
}

body {
	color: $body-color;
	// Body is a column flexbox consisting of three parts:
	// The header, the main and the footer
	display: flex;
	flex-direction: column;
	line-height: 150%;
}

header, main, footer {
	flex-shrink: 0;
}

main {
	// The main part occupies the full of the remaining space in the middle,
	// essentially pushing the footer to the bottom of the page
	// Seen at:
	// https://dev.to/domysee/keeping-the-footer-at-the-bottom-with-css-flexbox-5h5f
    flex-grow: 1;
    padding: 0 $page-padding-x $page-padding-y;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-serif;
    font-weight: bold;
}

@mixin underline($in: 5px, $out: 1px) {
    box-shadow: inset 0 (-$in) $primary, 0 $out $primary;
}

.underline,
:hover > .underline-hover,
.underline-parent:hover .underline-hover {
    @include underline();
}

@include media-breakpoint-up(lg) {
    main {
        padding: 0 $page-padding-x-lg $page-padding-y-lg;
    }
}
