.squares-overlayed {
    position: relative;
    &::before, &::after {
        content: "";
        position: absolute;
        width: 80%;
        padding-bottom: 80%;
        display: block;
        transition: $transition-base;
    }
    &::before {
        bottom: 0;
        left: 0;
    }
    &::after {
        top: 0;
        right: 0;
    }
    &.orange-blue {
        &::before {
            background-color: $primary;
        }
        &::after {
            background-color: $secondary;
        }
    }
    &.orange-black {
        &::before {
            background-color: black;
        }
        &::after {
            background-color: $primary;
        }
    }
    &.blue-black {
        &::before {
            background: black;
        }
        &::after {
            background: $secondary;
        }
    }
    &.animated, &.animated-hover:hover, .animated-parent:hover &.animated-hover {
        &::before {
            bottom: 5%;
            left: 5%;
        }
        &::after {
            top: 5%;
            right: 5%;
        }
    }
}

.triangles {
    position: relative;
    &::before, &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: $transition-base;
    }
    &::before {
        clip-path: polygon(0 0, 100% 0, 100% 100%);
    }
    &::after {
        clip-path: polygon(0 0, 0 100%, 100% 100%);
    }
    &.blue-black {
        &::before {
            background: black;
        }
        &::after {
            background: $secondary;
        }
    }
    &.animated, &.animated-hover:hover, .animated-parent:hover &.animated-hover {
        &::before {
            top: 10%;
            left: 10%;
        }
        &::after {
            top: -10%;
            left: -10%;
        }
    }
}

.verticals {
    position: relative;
    &::before, &::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        transition: $transition-base;
    }
    &::before {
        left: 0;
    }
    &::after {
        right: 0;
    }
    &.orange-black {
        &::before {
            background: $primary;
        }
        &::after {
            background: black;
        }
    }
    &.animated, &.animated-hover:hover, .animated-parent:hover &.animated-hover {
        &::before {
            top: -10%;
        }
        &::after {
            top: 10%;
        }
    }
}

.circle-in-black {
    background: black;
    position: relative;
    overflow: hidden;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        transition: $transition-base;
    }
    &.top {
        &::after {
            top: -50%;
        }
    }
    &.bottom {
        &::after {
            top: 50%;
        }
    }
    &.red {
        &::after {
            background: $red;
        }
    }
    &.blue {
        &::after {
            background: $secondary;
        }
    }
    &.animated, &.animated-hover:hover, .animated-parent:hover &.animated-hover {
        &.top {
            &::after {
                top: 50%;
            }
        }
        &.bottom {
            &::after {
                top: -50%;
            }
        }
    }
}

.white-rectangles-in-black {
    position: relative;
    background: black;
    border: 3px solid $secondary;
    &::before, &::after {
        content: "";
        position: absolute;
        background: white;
        transition: $transition-base;
    }
    &::before {
        bottom: 0;
        left: 0;
        width: 70%;
        height: 25%;
    }
    &::after {
        top: 0;
        right: 0;
        width: 10%;
        height: 50%;
    }
    &.animated, &.animated-hover:hover, .animated-parent:hover &.animated-hover {
        &::before {
            width: 80%;
            height: 15%;
        }
        &::after {
            width: 30%;
            height: 40%;
        }
    }
}

.woman-icon, .man-icon {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        transition: $transition-base;
    }
    &.black-bg {
        background: black;
    }
    &.bordered {
        border: .05em solid black;
    }
}

.woman-icon {
    &::before {
        left: -10%;
        background-image: url("/static/images/woman_icon.svg");
    }
    &.animated, &.animated-hover:hover, .animated-parent:hover &.animated-hover {
        &::before {
            left: 0;
        }
    }
}

.man-icon {
    &::before {
        left: 10%;
        background-image: url("/static/images/man_icon.svg");
    }
    &.animated, &.animated-hover:hover, .animated-parent:hover &.animated-hover {
        &::before {
            left: 0;
        }
    }
}
