.language-switch {
    h6 {
        font-family: $font-family-serif;
    }
    .btn {
        border: 1px solid #CCC;
        cursor: pointer;
        &.focus {
            outline: 1px dotted;
            outline: 5px auto -webkit-focus-ring-color;
        }
        &.active {
            border-color: #000;
            font-weight: bold;
        }
    }
}
