ul.nav-scrollable-tabs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-bottom: 2em;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    .nav-item {
        flex-shrink: 0;
        scroll-snap-align: start;
        margin: 0 1em 0 0;
    }
}

@include media-breakpoint-up(md) {
    ul.nav-scrollable-tabs {
        justify-content: flex-end;
        .nav-item {
            margin: 0 0 0 1em;
        }
    }
}
