// Colors
$primary: hsl(33, 93, 54);
$secondary: hsl(185, 29, 52);
$red: hsl(0, 100, 50);
$ted: hsl(4, 80, 51);
$yiq-contrasted-threshold: 100;

// Options
$enable-rounded: false;
$enable-responsive-font-sizes: true;

// Input box shadow
$input-btn-focus-width: 0;

// Buttons
$btn-box-shadow: .25rem .25rem 0 0 black;
$btn-border-width: 0;

// Body
$body-bg: #fff;
$body-color: #343a40;

// Links
$link-color: $body-color;
$link-decoration: none;
$link-hover-color: $link-color;
$link-hover-decoration: none;

// Borders
$border-color: black;

// Typography
$font-family-sans-serif: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$font-family-serif: Jura, serif;
$font-family-base: $font-family-sans-serif;

// Main
$page-padding-x: 1rem;
$page-padding-y: .75rem;
$page-padding-x-lg: 2 * $page-padding-x;
$page-padding-y-lg: 2 * $page-padding-y;

// Footer
$footer-text-color: white;
$footer-default-bg: white;
$footer-border-top: none;
$footer-column-gap: 1.5rem;

// Animations
$transition-base: all .1s ease-in-out;

// Dropdowns
$dropdown-border-color: black;
$dropdown-link-hover-bg: inherit;
