$cube-size: 4em;
$cube-side-size: 0.25 * $cube-size;

article.about-page {
    section#team {
        position: relative;
        display: flex;
        width: 100%;
        flex-flow: row nowrap;
    }
    .member {
        p {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            margin-bottom: 6px;
            font-size: .85rem;
            font-weight: bold;
            line-height: 1;
            text-align: center;
            color: white;
            text-shadow: 1px 1px 0 black;
            z-index: 10;
        }
        .hover {
            display: none;
        }
    }
}

@include media-breakpoint-up(md) {
    article.about-page {
        h2 {
            position: absolute;
        }
        .cube-container {
            // The container width is 9.75 cubes
            // We also divide by $cube-size to get the pure multiplier
            font-size: calc((100vw - 2 * #{$page-padding-x}) / (#{$cube-size / 1em} * 9.75));
        }
        .cube-row {
            display: flex;
            .member {
                position: relative;
                width: $cube-size;
                height: $cube-size;
                margin-top: $cube-side-size;
                &:not(:last-child) {
                    margin-right: $cube-size;
                }
                background: $secondary;
                cursor: pointer;
                &::before, &::after {
                    content: "";
                    position: absolute;
                }
                &::before {
                    z-index: -1;
                    left: 0;
                    bottom: 100%;
                    width: $cube-size;
                    height: $cube-side-size;
                    background: $red;
                    transform: skewX(-45deg) translateX(0.5 * $cube-side-size);
                }
                &::after {
                    position: absolute;
                    top: 0;
                    left: 100%;
                    width: $cube-side-size;
                    height: $cube-size;
                    background: $primary;
                    transform: skewY(-45deg) translateY(-0.5 * $cube-side-size);
                }
                .slider-image {
                    display: block;
                    position: absolute;
                    top: 0;
                    height: 100%;
                    overflow: hidden;
                    img {
                        position: absolute;
                        width: $cube-size;
                        height: $cube-size;
                        object-fit: contain;
                    }
                    &.normal {
                        width: 100%;
                        left: auto;
                        right: 0;
                        img {
                            right: 0;
                        }
                    }
                    &.hover {
                        width: 0;
                        left: 0;
                        right: auto;
                        img {
                            left: 0;
                        }
                    }
                }
                &:hover .slider-image.hover {
                    border-right: 1px solid black;
                }
            }
            .spacer {
                display: flex;
                span {
                    display: block;
                    width: $cube-size;
                    &.side {
                        width: $cube-side-size;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    article.about-page {
        .cube-container {
            font-size: calc((100vw - 2 * #{$page-padding-x-lg}) / (#{$cube-size / 1em} * 9.75));
        }
    }
}

@include media-breakpoint-up(xl) {
    article.about-page {
        .member p {
            font-size: 1.25rem;
        }
    }
}
