$fallback-cube-size: 4em;
$fallback-cube-side-ratio: 0.25;
$fallback-cube-side-size: $fallback-cube-side-ratio * $fallback-cube-size;

article.about-page {
    section#team {
        position: relative;
        header {
            width: 100%;
            margin-bottom: 1rem;
            h2 {
                display: inline;
            }
        }
    }
    .member {
        position: relative;
        width: calc(100% / 3);
        padding-bottom: calc(100% / 3);
        cursor: pointer;
        p {
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 100%;
            transform: translateX(-50%);
            margin-bottom: 6px;
            font-size: .85rem;
            font-weight: bold;
            line-height: 1;
            text-align: center;
            overflow-wrap: break-word;
            color: white;
            text-shadow: 1px 1px 0 black;
            z-index: 10;
        }
        .hover p {
            width: auto;
        }
    }
    .slider-image {
        display: block;
        position: absolute;
        top: 0;
        height: 100%;
        // So that border is not included in width
        box-sizing: content-box;
        overflow: hidden;
        img {
            position: absolute;
            width: auto;
            height: 100%;
            object-fit: contain;
        }
        &.normal {
            width: 100%;
            left: auto;
            right: 0;
            img {
                right: 0;
            }
        }
        &.on-hover {
            width: 0;
            left: 0;
            right: auto;
            img {
                left: 0;
            }
            &.hover {
                border-right: 1px solid rgba(darken($secondary, 30%), .5);
            }
        }
    }
    #simple-view {
        display: flex;
        flex-flow: row wrap;
    }
    #cube-view {
        display: none;
        --cubeview-unit-width: 1;
        --cube-size: $fallback-cube-size;
        --cube-side-ratio: $fallback-cube-side-ratio;
        // We need the ems so we also divide by cube-size.
        font-size: 2em;
        font-size: calc(
            (100vw - 2 * #{$page-padding-x-lg})
                / var(--cubeview-unit-width)
                / var(--cube-size)
        );
        header {
            position: absolute;
            padding-right: 1rem;
        }
    }
    .cube-row {
        display: flex;
        .member {
            position: relative;
            flex: 0 1 auto;
            width: $fallback-cube-size;
            width: calc(1em * var(--cube-size));
            height: $fallback-cube-size;
            height: calc(1em * var(--cube-size));
            padding: 0;
            max-width: none;
            margin-top: $fallback-cube-side-size;
            margin-top: calc(1em * var(--cube-side-ratio) * var(--cube-size));
            background: $secondary;
            &.c2 {
                background: $primary;
            }
            &.c3 {
                background: $red;
            }
            &::before, &::after {
                content: "";
                position: absolute;
            }
            &::before {
                left: 0;
                bottom: 100%;
                width: $fallback-cube-size;
                width: calc(1em * var(--cube-size));
                height: $fallback-cube-side-size;
                height: calc(1em * var(--cube-side-ratio) * var(--cube-size));
                background: $red;
                transform: skewX(-45deg) translateX(0.5 * $fallback-cube-side-size);
                transform: skewX(-45deg) translateX(calc(0.5em * var(--cube-side-ratio) * var(--cube-size)));
            }
            &.c2::before {
                background: $secondary;
            }
            &.c3::before {
                background: $primary;
            }
            &::after {
                position: absolute;
                top: 0;
                left: 100%;
                width: $fallback-cube-side-size;
                width: calc(1em * var(--cube-side-ratio) * var(--cube-size));
                height: $fallback-cube-size;
                height: calc(1em * var(--cube-size));
                background: $primary;
                transform: skewY(-45deg) translateY(-0.5 * $fallback-cube-side-size);
                transform: skewY(-45deg) translateY(calc(-0.5em * var(--cube-side-ratio) * var(--cube-size)));
            }
            &.c2::after {
                background: $red;
            }
            &.c3::after {
                background: $secondary;
            }
            .slider-image {
                &.on-hover.hover {
                    border-width: 2px;
                }
                img {
                    width: $fallback-cube-size;
                    width: calc(1em * var(--cube-size));
                    height: $fallback-cube-size;
                    height: calc(1em * var(--cube-size));
                }
            }
        }
    }

    section#about {
        margin-top: 3rem;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border: 4px solid $secondary;
        }
        h3 {
            margin-bottom: 1rem;
        }
        p {
            line-height: 1.75;
            text-align: justify;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .about-section {
        margin-bottom: 2rem;
        a {
            @include underline();
        }
    }

    #about-tedxntua {
        position: relative;
        width: 60rem;
        max-width: 95%;
        margin-top: -12vw;
        margin-left: auto;
        margin-right: auto;
        padding: 1.5rem;
        background-color: $body-bg;
        border: 4px solid $secondary;
        box-shadow: .25rem .25rem 0 0 black;
    }
}

@include media-breakpoint-up(md) {
    article.about-page {
        .member p {
            font-size: 1rem;
        }
        section#about img, #about-tedxntua {
            border-width: 6px;
        }
        .about-section {
            margin-bottom: 4rem;
        }
        #about-tedxntua {
            padding: 4rem;
            box-shadow: .5rem .5rem 0 0 black;
        }
    }
}

@include media-breakpoint-up(lg) {
    article.about-page {
        #simple-view {
            display: none;
        }
        #cube-view {
            display: block;
        }
        section#about {
            margin-top: 6rem;
        }
    }
}
