article.sponsors {
    h2 {
        text-align: center;
        margin-top: 2rem;
        font-size: 2rem;
        &.PS-heading {
            font-size: 2.5rem;
        }
        &.GS-heading {
            font-size: 2.25rem;
        }
    }
    .container-image{
        position: relative;
        margin-left: -1em;
    }
    .title-right{
        .btn-right{
            position: absolute;
            left: 100%;
            top: 0;

            width: 2em;
            height: 100%;

            transform: skewY(45deg) translate(0, 1em);
            h4{
                color: white;
                font-size: 120%;
                text-align: center;
                transform: skewY(-45deg) rotateZ(90deg) translate(-0.8em, 0);
            }
        }
    }
    .title-bottom{
        .btn-bottom{
            position: absolute;
            top: 100%;
            left: 0;

            height: 2em;
            width: 100%;

            transform: skewX(45deg) translate(1em,0);
            margin: 0 auto;
            h4{
                color: white;
                font-size: 120%;
                margin: auto 0;
                transform: skewX(-45deg);
            }
        }
    }

    .btn-partners{
        background-color: gray;
        padding: 0;
        a {
            display: block;
        }
    }
    .btn:hover{
        background-color: grayscale($color: #100010);
    }
    /////////////////////////////////
    // Modal
    /////////////////////////////////
    .modal{
        padding-right: 0 !important;
    }
    .modal-dialog{
        width: 100% !important;
        height: 100% !important;
        max-width: none;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    .modal-content{
        height: 95% !important;
        background: transparent;
        border: 0;
        padding: 0 0.5rem;
    }
    .modal-body{
        height: 100% !important;
        padding: 0 !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .iframe-div{
        height: 100%;
        width: 95vw;
    }
    .category {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 1rem;
        .child{
            margin-right: 2em;
            margin-bottom: 2em;
            .card-container{
                margin: 0 auto;
            }
            @include make-col(5);
            padding: 2rem 0.4rem;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .logo{
                margin: 0 auto;
                max-width: 10em;
                height: 10em;
                object-fit: contain;
            }
            .no-image {
                padding: 2em .25em;
                text-align: center;
                overflow-wrap: break-word;
            }
        }
    }
    .category#PS {
        h2{
            margin-top: 1rem;
        }
        .child{
            @include make-col(12);
            .card-container{
                margin: 0 auto;
                padding: 1rem 0;
                .logo{
                    max-width: 14em;
                    height: 14em;
                }
            }
        }
    }
    #GS {
        .child {
            @include make-col(12);
            .card-container{
                margin: 0 auto;
                padding: 2rem 0;
                .logo{
                    max-width: 12em;
                    height: 12em;
                    position: relative;
                }
            }
        }
    }
    *{
        // border : 1px solid red;
    }
    @media (max-width: 420px){
        .category:not(#PS):not(#GS) .child{
            font-size: 0.75rem;
            .btn-right{
                width: 1.6em;
                transform: skewY(45deg) translate(0, 0.8em);
            }
            .btn-bottom{
                height: 1.6em;
                transform: skewX(45deg) translate(0.8em, 0);
            }
            h4{
                font-size: 105%;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    article.sponsors .category{
        font-size: 1.5rem;
    }
    article.sponsors .category .child{
        @include make-col(4);
        margin-right: 0;
        margin-bottom: 0;
    }
    article.sponsors .category .child:nth-child(5n+4){
        margin-left: 0.1vw;
    }
    article.sponsors .category .child:nth-child(5n+5){
        margin-right: 0.1vw;
    }
    article.sponsors .category#GS .child{
        @include make-col(5);
    }
}

@include media-breakpoint-up(lg) {
    article.sponsors{
        h2 {
            font-size: 2.75rem;
            &.PS-heading {
                font-size: 3.5rem;
            }
            &.GS-heading {
                font-size: 3.25rem;
            }
        }
        .category#PS .title-right{
            .btn-right{
                width: 3em;
                transform: skewY(45deg) translate(0, 1.5em);
                h4{
                    transform: skewY(-45deg) rotateZ(90deg) translate(-0.5em, 0);
                    font-size: 140%;
                }
            }
        }
        .category#PS .title-bottom{
            .btn-bottom{
                height: 3em;
                transform: skewX(45deg) translate(1.5em,0);
                h4{
                    font-size: 140%;
                }
            }
        }
        .category#GS .title-right{
            .btn-right{
                width: 2.6em;
                transform: skewY(45deg) translate(0, 1.3em);
                h4{
                    font-size: 140%;
                }
            }
        }
        .category#GS .title-bottom{
            .btn-bottom{
                height: 2.6em;
                transform: skewX(45deg) translate(1.3em,0);
                h4{
                    font-size: 140%;
                }
            }
        }
        .iframe-div{
            width: 50vw;
        }
    }
}
