{% load i18n %}
{% load static %}
{% load lang_extras %}
{% get_available_languages as LANGUAGES %}
{% get_current_language as CURR_LANG %}

<nav id="nav" aria-label="Navigation header">
    <a class="navbar-brand" href="/" aria-label="Go to homepage">
        <img src="{% static "images/tedxntua_logo_blacktext.png" %}"
             alt="TEDxNTUA logo" />
    </a>
    <button class="navbar-toggler" data-toggle="collapse"
            data-target="#navbar-nav" aria-controls="navbar-nav"
            aria-label="Toggle navigation menu" aria-expanded="false">
        <div class="navbar-toggler-icon" aria-hidden="true">
            <span></span><span></span><span></span>
        </div>
        <span class="unexpanded">MENU</span>
        <span class="expanded">CLOSE</span>
    </button>
    <hr></hr>
    <ul role="menu" id="navbar-nav" class="navbar-nav collapse"
        aria-label="Navigation menu">
        <li class="nav-item">
            <a role="menuitem" class="nav-link" href="#">
                <div class="nav-link-icon squares-overlayed orange-blue"></div>
                <span class="nav-item-text">Home</span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a role="menuitem" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <div class="nav-link-icon triangles blue-black"></div>
                <span class="nav-item-text">The event<span class="sr-only">(Toggle dropdown)</span></span>
            </a>
            <div role="menu" class="dropdown-menu">
                <a role="menuitem" class="nav-link dropdown-item" href="#">
                    <div class="nav-dropdown-item-icon circle-in-black"></div>
                    Speakers
                </a>
                <a role="menuitem" class="nav-link dropdown-item" href="#">
                    <div class="nav-dropdown-item-icon circle-in-black"></div>
                    Performers
                </a>
                <a role="menuitem" class="nav-link dropdown-item" href="#">
                    <div class="nav-dropdown-item-icon white-rectangles-in-black"></div>
                    Side events
                </a>
                <a role="menuitem" class="nav-link dropdown-item" href="#">
                    <div class="nav-dropdown-item-icon squares-overlayed orange-black"></div>
                    Schedule
                </a>
            </div>
        </li>
        <li class="nav-item">
            <a role="menuitem" class="nav-link" href="#">
                <div class="nav-link-icon verticals orange-black"></div>
                <span class="nav-item-text">Partners</span>
            </a>
        </li>
        <li class="nav-item">
            <a role="menuitem" class="nav-link" href="#">
                <div class="nav-link-icon circle-in-black red bottom"></div>
                <span class="nav-item-text">About us</span>
            </a>
        </li>
        <li class="nav-item">
            <a role="menuitem" class="nav-link" href="#">
                <div class="nav-link-icon circle-in-black blue top"></div>
                <span class="nav-item-text">Tickets</span>
            </a>
        </li>
        <li class="nav-item language-switch-container">
            <h6>LANGUAGE</h6>
            <div role="group" class="btn-group btn-group-toggle language-switch"
                data-toggle="buttons" aria-label="Select website language">
                {% for code, lang_name in LANGUAGES %}
                <label class="btn{% if code == CURR_LANG %} active{% endif %}"
                    aria-label="{{ lang_name }}">
                    <input type="radio" value="{{ code }}" name="language"
                        autocomplete="off" checked>
                    {{ code | lang_short_name }}
                </label>
                {% endfor %}
            </div>
        </li>
    </ul>
</nav>
