{% extends "base.html" %}
{% block content %}
<article class="event-page schedule-page">
    <ul class="event-tabs nav">
        <li class="nav-item">
            <button class="btn btn-white">Speakers</button>
        </li>
        <li class="nav-item">
            <button class="btn btn-white">Performances</button>
        </li>
        <li class="nav-item">
            <button class="btn btn-white">Side events</button>
        </li>
        <li class="nav-item">
            <button class="btn btn-secondary">Schedule</button>
        </li>
    </ul>
    <div id="schedule-table" role="table" data-activetab="main">
        <div role="rowgroup" class="table-heading">
            <div role="row">
                <span role="columnheader">TIME</span>
                {% for id, stage in stages.items %}
                <span role="columnheader" class="d-none d-lg-inline">{{ stage }}</span>
                {% endfor %}
                <form role="columnheader" class="d-lg-none">
                    <select id="stage-selector" aria-label="Filter by event stage" class="form-control">
                        {% for id, stage in stages.items %}
                        <option{% if forloop.first %} selected{% endif %} value="{{ id }}">{{ stage }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
        <div role="rowgroup">
            {% for time, row in schedule.items %}
            <div role="row" class="{% if not row.main %}hide-main {% endif %}{% if not row.side %}hide-side {% endif %}">
                <span role="cell" class="time">{{ time }}</span>
                {% for stage, event in row.items %}
                <span role="cell">
                    {% if event %}
                    <a class="cell-content" href="{% url "presenter" event.presenter.id %}">
                        <img src="https://picsum.photos/200" />
                        <div class="info">
                            <h5>{{ event.title }}</h5>
                            <p>{{ event.subtitle }}</p>
                        </div>
                        <div class="chevron-container">
                            <div class="chevron-right"></div>
                        </div>
                    </a>
                    {% else %}
                    <div class="cell-content"></div>
                    {% endif %}
                </span>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</article>
{% endblock %}
{% block scripts %}
<script>
    const scheduleTable = document.getElementById("schedule-table")
    const stageSelector = document.getElementById("stage-selector")
    stageSelector.addEventListener("change", evt => {
        scheduleTable.setAttribute("data-activetab", evt.target.value)
    })
</script>
{% endblock %}
