{% extends "base.html" %}
{% block content %}
<article class="event-page speakers-page">
    <ul class="event-tabs nav">
        <li class="nav-item">
            <button class="btn btn-secondary">Speakers</button>
        </li>
        <li class="nav-item">
            <button class="btn btn-white">Performances</button>
        </li>
        <li class="nav-item">
            <button class="btn btn-white">Side events</button>
        </li>
        <li class="nav-item">
            <button class="btn btn-white">Schedule</button>
        </li>
    </ul>
    <div class=""></div>
</article>
{% endblock %}
