{% extends "base.html" %}
{% block content %}
<article>
    <button class="btn btn-secondary"> < Back to speakers</button>
    <div class="speaker-main">
        <div class="speaker-image"> </div>
        <div class="speaker-info">    
            <h1 class="speaker-name">{{presenter.name}}</h1>
            <h2 class="speaker-occ">{{presenter.occupation}}</h2>
            <div class="speaker-bio">{{presenter.short_bio}}</div>
            <button class="btn btn-primary"> Read full bio</button>
        </div>
    </div>
    <br>
    <div class="speaker-scnd">
        {% for activity in presenter.activity_set.all %}
        <div class="speaker-talk">
            <h5 class="speaker-activity">{{ activity.title }}</h5>
            <p class="speaker-time">{{activity.get_activity_type_display | upper}} | {{activity.time_span}}</p>
            <p>{{activity.subtitle}}</p>
        </div>
    {% endfor %}
    </div>

</article>
{% endblock %}
