article.listing-page {
    .listing-grid {
        display: flex;
        flex-flow: row wrap;
        a {
            display: flex;
            margin-bottom: 1rem;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        h5 {
            margin-top: 1.25rem;
            font-size: 1.1em;
            font-weight: 600;
        }
        h6 {
            font-family: $font-family-sans-serif;
            font-weight: 300;
        }
    }
    .image {
        width: 7.5em;
        height: 7.5em;
        margin: 0 auto;
        object-fit: contain;
    }
    .placeholder {
        position: relative;
        .image {
            opacity: .6;
        }
        h5 {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: 0;
            transform: translate(-50%, -50%);
        }
    }
}

@include media-breakpoint-up(md) {
    article.listing-page {
        .image {
            width: 10em;
            height: 10em;
        }
    }
}
