article.presenter-page {
    .presenter {
        display: flex;
        flex-direction: column;
        margin-top: 1.5em;
        img {
            margin: 0;
            width: 100%;
            height: auto;
            flex-shrink: 0;
        }
    }

    .info {
        width: auto;
        margin-top: 2em;
        display: flex;
        flex-direction: column;
    }

    h1, h2 {
        line-height: 1;
    }

    h1 {
        margin-bottom: 1rem;
        font-weight: bold;
        color: black;
    }

    h2 {
        font-family: $font-family-sans-serif;
        font-weight: lighter;
        margin-bottom: 2rem;
    }

    .content {
        line-height: 1.75;
    }

    #description {
        margin-bottom: 1em;
        text-align: justify;
    }

    .activities {
        display: flex;
        flex-direction: row;
        margin-top: 4em;
    }
    .activity {
        header {
            padding-left: 1em;
            border-left: 4px solid black;
        }
        h5 {
            margin-bottom: .25rem;
            color: black;
        }
        h6 {
            font-family: $font-family-sans-serif;
            font-weight: lighter;
            margin-bottom: 1rem;
        }
    }
}

@include media-breakpoint-up(md) {
    article.presenter-page {
        .presenter {
            flex-direction: row;
            align-items: flex-start;
            img {
                width: 30em;
                max-width: 50%;
            }
        }

        .info {
            margin-top: 0;
            margin-left: 2em;
            .btn {
                align-self: flex-start;
            }
        }

        #description {
            position: relative;
            overflow: hidden;
            &:not(.show) {
                display: block;
                height: auto;
                max-height: 5em;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    box-shadow: inset 0 -1em 1em 0 rgba(255, 255, 255, .75);
                }
            }
        }

        .activities {
            display: flex;
            flex-direction: row;
        }
        .activity {
            max-width: 50%;
            padding-right: 1em;
            .content {
                padding-left: calc(1em + 4px);
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    article.presenter-page {
        .info {
            margin-left: 4em;
        }
    }
}
