{% load i18n %}
{% load static %}
<section id="hero">
    <div class="image-container">
        <img class="image"
            srcset="{% static 'images/dualism_logo_512.png' %} 512w,
                    {% static 'images/dualism_logo_1024.png' %} 1024w,
                    {% static 'images/dualism_logo.png' %} 1585w"
            sizes="(max-width: 768px) 512px,
                    (max-width: 1366px) 1024px,
                    1585px"
            src="{% static 'images/dualism_logo_512.png' %}"
            alt="{% trans "home.dualism_logo" %}" />
    </div>
    <div class="content">
        {% trans 'home.dualism_summary' %}
        {% trans 'home.dualism_full' %}
        <h2>{% trans 'home.date' %}</h2>
        <h3>{% trans 'home.location' %}</h3>
        <a href="/tickets" class="btn btn-lg btn-primary">
            {% trans 'tickets.cta' %}
        </a>
    </div>
</section>
