{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'home.title' %}{% endblock %}
{% block description %}{% trans 'home.description' %}{% endblock %}
{% block content %}
<article class="home-page">
    <div class="section-container">
        {% include "home/hero.html" %}
    </div>
    <div class="section-container">
        {% include "home/lineup.html" %}
    </div>
    <div class="section-container">
        {% include "home/venue.html" %}
    </div>
    <div class="section-container">
        {% include "home/about.html" %}
    </div>
</article>
{% endblock %}
{% block scripts %}
<script>
    // Checkerboard grid view generator
    const tabs = document.querySelectorAll("#lineup .tab-pane")

    function createSpacer() {
        let spacer = document.createElement("span")
        spacer.setAttribute("aria-hidden", "true")
        return spacer
    }

    /**
     * Creates checkerboard grid view.
     *
     * @param {Element} tabEl The tab element that contains the original
     *      elements and that will store the generated checkerboard grid view.
     * @param {number[][]} layout Describes the grid layout as a 2d array with
     *      numbered slots. Slots with negative values produce empty cells.
     *
     *      For example this layout:
     *      [[0, -1, 2, -1, 4],
     *       [-1, 1, -1, 3, -1]]
     *      will arrange the items in a W shape:
     *      x x x
     *       x x
     */
    function createCheckerboardView(tabEl, layout) {
        if (!layout.length) return

        const simpleView = tabEl.children[0],
              checkerboardView = tabEl.children[1]

        checkerboardView.innerHTML = ""

        const rows = layout.length, cols = layout[0].length
        checkerboardView.style.gridTemplateColumns = "repeat(" + cols + ", 1fr)"

        // Build cube rows
        for (let i = 0; i < rows; ++i) {
            for (let j = 0; j < cols; ++j) {
                let elIdx = layout[i][j]
                if (elIdx >= 0 && elIdx < simpleView.children.length) {
                    let clone = simpleView.children[elIdx].cloneNode(true)
                    checkerboardView.appendChild(clone)
                } else {
                    checkerboardView.appendChild(createSpacer())
                }
            }
        }
    }

    let layout = [
        [6, -1, 2, -1, 3],
        [-1, 5, -1, 0, -1],
        [-1, -1, 4, -1, 1],
        [-1, 9, -1, 7, -1],
        [-1, -1, 10, -1, 8],
        [-1, -1, -1, 11, -1],
    ]

    for (const tabEl of tabs) {
        createCheckerboardView(tabEl, layout)
    }
</script>
<script>
    // Section scroll handler
    const observables = []
    const obsIdToIdx = {}

    // Add all sections to observables
    const sxs = document.querySelectorAll('article.home-page .section-container > section')
    sxs.forEach(sx => {
        observables.push({
            el: sx,
            overlays: sx.querySelectorAll('header, .nav-scrollable-tabs'),
        })
    })
    // Add footer to observables
    observables.push({
        el: document.getElementById('footer'),
        overlays: [],
    })

    let activeIdx

    function switchActive(newActiveIdx) {
        if (typeof activeIdx !== 'undefined') {
            // Hide current
            observables[activeIdx].overlays.forEach(overlay => {
                overlay.classList.remove('show')
            })
        }
        // Show new
        observables[newActiveIdx].overlays.forEach(overlay => {
            overlay.classList.add('show')
        })
        activeIdx = newActiveIdx
    }

    // Intersection observer that activates when element covers >50% of screen
    // height.
    // Adapted from: https://stackoverflow.com/q/57786082
    const options = {
        threshold: Array(21).fill().map((_, x) => x / 20),
    }
    const observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            const thisIdx = obsIdToIdx[entry.target.id]
            const h = entry.boundingClientRect.height
            const wh = window.innerHeight

            const viewportRatio = (h < wh) ? entry.intersectionRatio : (
                entry.intersectionRatio * h / wh
            )

            if (entry.isIntersecting && viewportRatio >= 0.5) {
                // Activate visible section
                switchActive(thisIdx)
            }
        })
    }, options)

    observables.forEach((item, idx) => {
        observer.observe(item.el)
        obsIdToIdx[item.el.id] = idx
    })
</script>
{% endblock %}
