{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block title %}{% trans 'home.title' %}{% endblock %}
{% block description %}{% trans 'home.description' %}{% endblock %}
{% block content %}
<article class="home-page">
    <div class="section-container">
        {% include "home/hero.html" %}
    </div>
    <div class="section-container">
        {% include "home/lineup.html" %}
    </div>
    <div class="section-container">
        {% include "home/venue.html" %}
    </div>
    <div class="section-container">
        {% include "home/about.html" %}
    </div>
</article>
{% endblock %}
{% block scripts %}
    {% render_bundle 'home' 'js' %}
{% endblock %}
