{% load i18n %}
<section id="lineup">
    <header>
        <h2>{% trans 'home.lineup.title' %}</h2>
    </header>
    <ul class="nav nav-scrollable-tabs" role="tablist">
        <li class="nav-item">
            <a href="#speakers" class="active" id="speakers-tab"
                data-toggle="tab" role="tab" aria-controls="speakers"
                aria-selected="true">
                {% trans 'Speakers' %}
            </a>
        </li>
        <li class="nav-item">
            <a href="#performers" id="performers-tab"
                data-toggle="tab" role="tab" aria-controls="performers"
                aria-selected="false">
                {% trans 'Performers' %}
            </a>
        </li>
        <li class="nav-item">
            <a href="#side_events" id="side_events-tab"
                data-toggle="tab" role="tab" aria-controls="side_events"
                aria-selected="false">
                {% trans 'Side events' %}
            </a>
        </li>
    </ul>
    <div class="tab-content">
        {% for lineup_type, items in lineup.items %}
        <div class="tab-pane container-fluid{% if forloop.first %} show active{% endif %}"
            id="{{ lineup_type }}" role="tabpanel"
            aria-labelledby="{{ lineup_type }}-tab">
            <div class="simple-view row">
                {% for item in items %}
                    {% if lineup_type == "side_events" %}
                        <a class="col-6 col-md-4"
                            href="{% url "presenter" slug=item.presenter.slug %}">
                            <div class="media">
                                {% if item.image %}
                                    <img srcset="{{ item.image.thumbnail.320x320.url }} 320w,
                                                {{ item.image.thumbnail.720x720.url }} 720w,
                                                {{ item.image.thumbnail.1024x1024.url }} 1024w"
                                        sizes="(max-width: 576px) 320px,
                                                (max-width: 992px) 720px,
                                                1024px"
                                        src="{{ item.image.thumbnail.320x320.url }}"
                                        alt="" />
                                {% else %}
                                    <div class="image image-placeholder">
                                        <div class="squares-overlayed blue-black"></div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="info">
                                <h5>{{ item.title }}</h5>
                                <p>{{ item.subtitle }}</p>
                            </div>
                        </a>
                    {% else %}
                        <a class="col-6 col-md-4"
                            href="{% url "presenter" slug=item.slug %}">
                            {% if item.image %}
                                <div class="media">
                                    <img class="image"
                                        srcset="{{ item.image.thumbnail.320x320.url }} 320w,
                                                {{ item.image.thumbnail.720x720.url }} 720w,
                                                {{ item.image.thumbnail.1024x1024.url }} 1024w"
                                        sizes="(max-width: 576px) 320px,
                                                (max-width: 992px) 720px,
                                                1024px"
                                        src="{{ item.image.thumbnail.320x320.url }}"
                                        alt="" />
                                </div>
                            {% else %}
                                <div class="media image image-placeholder squares-overlayed blue-black"></div>
                            {% endif %}
                            <div class="info">
                                <h5>{{ item.name }}</h5>
                                <p>{{ item.occupation }}</p>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
                {% comment %}
                    Generate placeholders.
                {% endcomment %}
                {% for p in placeholders reversed %}
                    {% if items|length <= p %}
                        <a class="col-6 col-md-4 placeholder">
                            <div class="media">
                                <div class="{% if p|divisibleby:"2" %}woman{% else %}man{% endif %}-icon"
                                    aria-hidden="true"></div>
                            </div>
                            <div class="info">
                                <h5>{% trans 'more_soon' %}</h5>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="checkerboard-view"></div>
        </div>
        {% endfor %}
    </div>
</section>
