{% load i18n %}
{% load static %}
<section id="venue">
    <header>
        <h2>{% trans 'home.venue.title' %}</h2>
    </header>
    <div class="map">
        <div class="location">
            <h5>{% trans 'home.venue.name' %}</h5>
            <p>{% trans 'home.venue.address' %}</p>
            {% if False %}{% comment %}Is it really?{% endcomment %}
            <div class="accessible">
                <img src="{% static "images/wheelchair_icon.svg" %}"
                    alt="{% trans 'home.venue.accessible_icon' %}" />
                <p>{% trans 'home.venue.accessible' %}</p>
            </div>
            {% endif %}
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3145.1201704669165!2d23.708200250390117!3d37.97432477962408!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a1bce12fc3755d%3A0xae6f805aaabf7194!2zSFVCIEVWRU5UUywgVEhFLCDOkS7OlS4!5e0!3m2!1sen!2sgr!4v1581886057189!5m2!1sen!2sgr" allowfullscreen=""></iframe>
    </div>
    <div class="access">
        <div class="left">
            <div class="image-container">
                <img src="{% static "images/hub_events.jpg" %}"
                    alt="{% trans 'home.venue.photo_alt' %}" />
            </div>
        </div>
        <div class="content">
            {% trans 'home.venue.access' %}
        </div>
    </div>
</section>
